@import url(style-global.css);

.faq {
    width: 100%;
    height: 150vh;
}

.faq .container {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.faq .container .faq-container {
    width: 90%;
    height: 90%;
    padding: 10px;
}

.faq .container .faq-container h2{ 
    font-size: 28px;
    text-align: center;
}

.faq .container .faq-container ul li {
    font-size: 18px;
} 

/* border: 0.1px solid black; */

@media screen and (max-device-width: 1024px) {
    .faq {
        height: 200vh;
    }
}

@media screen and (max-device-width: 768px) {
    .faq {
        height: 240vh;
    }
}

@media screen and (max-device-width: 425px ) { /* Mobile */
    .faq {
        height: 155vh;
    }
    
    .faq .container .faq-container h2{ 
        font-size: 20px;
    }
    
    .faq .container .faq-container ul li {
        font-size: 10px;
    }     
}

@media screen and (max-device-width: 375px ) { 
    .faq {
        height: 180vh;
    }
}

@media screen and (max-device-width: 320px ) { 
    .faq {
        height: 200vh;
    }
}