@import url('https://fonts.googleapis.com/css2?family=Taviraj:wght@200;300;400;500;600;700&display=swap');

:root{
    --cor-verde: #8BA883;
    --cor-azul: #007bff;
    --cor-cinza: #D9D9D9;
    --cor-branca: #FFFFFF;	
	
    --fonteFamilia: 'Taviraj', serif;
}

body {
    font-family: var(--fonteFamilia);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}

.btn-primary {
    display: inline-block;
    background-color: var(--cor-azul);
    color: var(--cor-branca);
    padding: 20px 30px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
}

@media screen and (max-device-width: 425px) { /* Mobile */
    .btn-primary {
        padding: 13px 25px;
    }
}