/* Font baixada */
@import url('https://fonts.googleapis.com/css2?family=Taviraj:wght@200;300;400;500;600;700&display=swap');

/* Configurações globais */
:root {
    --cor-verde: #8BA883;
    --cor-cinza: #D9D9D9;
    --cor-branca: #FFFFFF;

    --fonteFamilia: 'Taviraj', serif;
}

* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100%;

    font-family: var(--fonteFamilia);
}

body > .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ==== Home ==== */

body > .container > .home {
    padding: 20px;
    width: 97%;
    height: 595px;

    background: linear-gradient(to top, #8ba883, #9eb896, #b0c8aa, #c4d8be, #d7e9d2, #dbf1e1, #e3f8ef, #edfffb, #f1ffff, #f7feff, #fcfeff, #ffffff);
    z-index: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body > .container > .home > .imagens {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

body > .container > .home > .imagens > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px;    
}

body > .container > .home > .imagens > div > #imgSeg{
    width: 50%;
}

body > .container > .home > .imagens > .imgCentral > img{
    position: relative;
    top: 10px;
    width: 70%;
    z-index: 1;
}

body > .container > .home > .imagens > .img1{
    z-index: 0;
    position: relative;
    top: 10px;
    left: 228px;
}

body > .container > .home > .imagens > .img2{
    z-index: 0;
    position: relative;
    top: 10px;
    left: -228px;
}

body > .container > .home > .texto {
    padding: 30px;
}

body > .container > .home > .texto > div{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

body > .container > .home > .texto > div > h1{
    font-size: 40px;
    font-weight: 100;
}

body > .container > .home > .texto > div > h4{
    font-weight: 100;
    font-size: 20px;
}

/* ==== Main ==== */

/* Imagens */
body > .container > main {
    width: 100%;
    height: 1900px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body > .container > main > .info-inicial {
    background-color: var(--cor-verde);
    height: 105vh;
    width: 99.99%;
}

body > .container > main > .info-inicial > .imgModelos{
    height: 70%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-content: center;
}

body > .container > main > .info-inicial > .imgModelos > div{
    /* border: 1px solid black; */
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

body > .container > main > .info-inicial > .imgModelos > div > img{
    width: 140px; 
    height: 200px;
}

/* Informações */
body > .container > main > .info-inicial > .informacoes{
    /* border: 1px solid black; */
    height: 30%;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    
}

body > .container > main > .info-inicial > .informacoes > div {
    /* border: 1px solid black; */
    margin: 10px;
    display: flex;
    justify-content: center;
}

body > .container > main > .info-inicial > .informacoes > div > h1 {
    font-size: 60px;
    font-weight: 400;
}

body > .container > main > .info-inicial > .informacoes > div > h3 {
    font-weight: 400;
}

/* Informações profundas ebook */
body > .container > main > .infoebook {
    width: 98.7vw;   
    height: 100vh;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

body > .container > main > .infoebook > div {
    width: 100vw;
    height: 100vh;
}

body > .container > main > .infoebook > .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* body > .container > main > .infoebook > .info > div{
    border: 1px solid black;
} */

body > .container > main > .infoebook > .info > .texto-grande{
    display: flex;
    justify-content: center;
    align-items: center;
}

body > .container > main > .infoebook > .info > .texto-grande > h1 {
    font-size: 70px;
    font-weight: 500;
    margin: 10px;
}

body > .container > main > .infoebook > .info > .texto-grande > h3 {
    font-size: 35px;
    font-weight: 400;
    margin: 10px;    
}

body > .container > main > .infoebook > .info > .texto-meio > ul{
    font-size: 25px;
    margin-left: 200px;
    font-weight: 300;
}

body > .container > main > .infoebook > .info > .texto-final{
    margin-top: 35px;
    font-size: 30px;
}

body > .container > main > .infoebook > .info > .texto-final > h5{
    font-weight: 500;
}

body > .container > main > .infoebook > .imagem { /* Imagens */
    display: flex;
    justify-content: center;
    align-items: center;
}

body > .container > main > .infoebook > .imagem > img {
    width: 60%;
    height: 85%;
}

/* Compra Ebook */

body > .container > main > .compra-ebook {
    margin-top: 25px;
    background-color: var(--cor-verde);
    width: 98.7vw;
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

body > .container > main > .compra-ebook > .mao {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body > .container > main > .compra-ebook > .mao > img {
    width: 730px; 
    height: 730px;
}

body > .container > main > .compra-ebook > .tablet {
    width: 38%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body > .container > main > .compra-ebook > .tablet > img {
    width: 700px; 
    height: 700px;
}

body > .container > main > .compra-ebook > .info-compra {
    width: 32%;
}

body > .container > main > .compra-ebook > .info-compra > h3 {
    font-size: 40px;
    text-align: start;
    font-weight: 400;
}

body > .container > main > .compra-ebook > .info-compra > h1 {
    font-size: 90px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 25px;
}

body > .container > main > .compra-ebook > .info-compra > a > button{
    width: 100%;
    cursor: pointer;
    height: 100px;
    border-radius: 35px;
    border-style: none;
    background-color: var(--cor-cinza);
}

body > .container > main > .compra-ebook > .info-compra > a > button > h1{
    font-family: var(--fonteFamilia);
    font-size: 30px;
    font-weight: 500;
}

/* ==== Rodapé ==== */
body > .container > footer {
    width: 97%;
    height: 25vh;
    padding: 20px;
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
}

body > .container > footer > .logo {
    display: flex; 
    justify-content: center;
}

body > .container > footer > .direitos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

body > .container > footer > .direitos > h3{
    font-weight: 500;
}

body > .container > footer > .redes-sociais{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}   

body > .container > footer > .redes-sociais > .email {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

body > .container > footer > .redes-sociais > .redes > a {
    text-decoration: none;
    color: black;
}